@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 550;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 1000;
}



::-webkit-scrollbar {
    display: none;/*скрывает скроллбар*/
}

img {
    -webkit-user-drag: none; /*картинки перетаскивать нельзя*/
    user-drag: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body, #root {  /*TEST*/
    height: auto;
    overflow: auto;
}



:root {                      /*переменные для светлой темы*/
    --body-bg: linear-gradient(30deg, #8ECC9F 15%, rgba(12, 140, 232, 0.44) 100%);
    --bg-color: #F5F5F5;
    --text-color: #000000;
    --button-bg-color: #0462A6; /*#0C8CE8*/
    --button-hover-color: #007BFF;

    --tab-color: #F4F4F4;
    --not-active-tab-color: #EAEAEA;
    --active-tab-border-color: #3498DB;
    --tab-border-color: #CCCCCC;

    --file-manager-path-color: #282C34;
    --file-manager-icon-primary: #0C8CE8;
    --file-manager-icon-secondary: #000000;
    --file-manager-btn-hover-color: #E3E3E3;
    --file-manager-item-text-color: #666666;

    --draggable-header-bg-color: #0462A6;

    --profile-view-label: #646464;

    --red-alert: #FF2727;

    --selectedItems: rgba(0, 123, 255, 0.1);
    --lastSelected-border-clr: rgba(128, 179, 255, 0.68);
    --selectedArea-bg-clr: rgba(0, 123, 255, 0.2);
    --selectedArea-border-clr: #007BFF;

    --icon-primary-color: #0C8CE8;
    --icon-secondary-color: #000000;
}
                        /*linear-gradient(30deg, #1E1E2F 15%, rgba(0, 90, 150, 0.5) 100%)    тоже прикольный вариант для темной темы*/
.dark {                      /*переменные для темной темы*/
    --body-bg: linear-gradient(30deg, #2E4E3F 15%, rgba(12, 100, 180, 0.3) 100%);
    --bg-color: #141414;
    --text-color: #FFFFFF;
    --button-bg-color: #12344C;
    --button-hover-color: #0C2331;

    --tab-color: #2F2F2F;
    --not-active-tab-color: #212121;
    --active-tab-border-color: #3498DB;
    --tab-border-color: #707070;

    --file-manager-path-color: #C9C9C9;
    --file-manager-icon-primary: #6CB4F8;
    --file-manager-icon-secondary: #F5F5F5;
    --file-manager-btn-hover-color: #1C1C1C;
    --file-manager-item-text-color: #a6a6a6;

    --draggable-header-bg-color: #0C2331;  /*#0C2331*/

    --profile-view-label: #9b9b9b;

    --red-alert: #FF2727;

    --selectedItems: rgba(234, 234, 255, 0.1);
    --lastSelected-border-clr: rgba(232, 241, 255, 0.68);
    --selectedArea-bg-clr: rgba(234, 234, 255, 0.2);
    --selectedArea-border-clr: #e5f1ff;

    --icon-primary-color: #0C8CE8;
    --icon-secondary-color: #F5F5F5;
}

body {
    font-family: 'Montserrat', sans-serif;
    /*background: linear-gradient(30deg, #8ECC9F 15%, rgba(12, 140, 232, 0.44) 100%);*/
    /*background: linear-gradient(30deg, #2E4E3F 15%, rgba(12, 100, 180, 0.3) 100%);*/
    background:  var(--body-bg);
    background-size: cover;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-40 {
    font-size: 40px;
}

.font-48 {
    font-size: 48px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

button {
    font-family: 'Montserrat', sans-serif;
}

.button_st {
    background-color: var(--button-bg-color);
    color: #F5F5F5;
    border: none;
    cursor: pointer;
}

.button_st:hover {
    background-color: var(--button-hover-color);
}


/*.input {
    color: black;
}*/



.input-icon {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid #828282;
    border-radius: 17px;
    padding-left: 10px;
    background-color: #F5F5F5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.input-icon input {
    font-family: 'Montserrat', sans-serif;
}

.input-icon img {
    margin-right: 10px;
}

.input-icon input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background-color: #F5F5F5;
}