.profile__container {   /*стили для контейнера индивидуально для этой страницы*/
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--bg-color);
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.profile__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.profile__avatar {
    width: 108px;
    height: 108px;
    border-radius: 23%;
    overflow: hidden;
    margin-right: 20px;
}

.profile__info-button {
    /*font-family: 'Montserrat', sans-serif;*/
    display: flex;
    flex-direction: row;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    flex: 1;
}

.profile__info-button-wrapper {
    display: flex;
    flex-direction: column;
    /*gap: 0;*/
}

.profile__avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__name {
    margin: 0;
    font-weight: 700;
    color: var(--text-color);
}

.profile__bio {
    margin-top: 8px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-color);
}

.profile__create-button{
    /*font-family: 'Montserrat', sans-serif;*/
    width: 184px;
    height: 54px;
    border-radius: 16px;

}





