@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 550;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 1000;
}



::-webkit-scrollbar {
    display: none;/*скрывает скроллбар*/
}

img {
    -webkit-user-drag: none; /*картинки перетаскивать нельзя*/
    user-drag: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body, #root {  /*TEST*/
    height: auto;
    overflow: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(30deg, #8ECC9F 15%, rgba(12, 140, 232, 0.44) 100%);

    background-size: cover;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-40 {
    font-size: 40px;
}

.font-48 {
    font-size: 48px;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.button_st {
    background-color: #0C8CE8;
    color: #F5F5F5;
    border: none;
    cursor: pointer;
}

.button_st:hover {
    background-color: #007BFF;
}


/*.input {
    color: black;
}*/

.input-icon {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid #828282;
    border-radius: 17px;
    padding-left: 10px;
    background-color: #F5F5F5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.input-icon input {
    font-family: 'Montserrat', sans-serif;
}

.input-icon img {
    margin-right: 10px;
}

.input-icon input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background-color: #F5F5F5;
}